{% extends 'base.html' %}

{% block contents %}
<!-----회원가입 정보를 받는 폼 : 아이디, 비밀번호, 비밀번호 확인, 이메일, 닉네임-->
<br><br>
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <ul style="list-style:none">
        <li>ID : &nbsp;<input type="text" name="user_id"></li><br>
        <li>비밀번호 :  <input type="password" name="password1"></li><br>
        <li>비밀번호 확인 : <input type="password" name="password2"></li><br>
        <li>E-mail : <input type="text" name="email"></li><br>
        <li>닉네임 : <input type="text" name="nickname"></li><br>
        <input type="submit" value="회원가입" class="btn btn-dark">
    </ul>
</form>

<div>
    {% if messages %}
    {% for message in messages %}
    {{message.messages}}
    {% endfor %}
    {% endif %}
</div>

{% endblock %}